<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>{% block title %}{% endblock %} - CropQuery</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{% block menu_selection %}{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block map_menu_item_class %}{% endblock %}">
                <a class="nav-link nav-link-mod" href="/map">Map</a>
            </li>
            <li class="nav-item {% block vehicle_menu_item_class %}{% endblock %}">
                <a class="nav-link nav-link-mod" href="/vehicle">Vehicle</a>
            </li>
            <li class="nav-item {% block dataset_menu_item_class %}{% endblock %}">
                <a class="nav-link nav-link-mod" href="/dataset">Dataset</a>
            </li>
            <li class="nav-item {% block console_menu_item_class %}{% endblock %}">
                <a class="nav-link nav-link-mod" href="/console">Console</a>
            </li>
            <li class="nav-item {% block config_menu_item_class %}{% endblock %}">
                <a class="nav-link nav-link-mod" href="/config">Config</a>
            </li>
            <li class="nav-item {% block log_menu_item_class %}{% endblock %}">
                <a class="nav-link nav-link-mod" href="/log">Log</a>
            </li>
        </ul>
    </div>
</nav>

{% block js %}
<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="/static/socket.io.js"></script>
<script>
    async function getData(url = '') {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }

    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }
</script>

{% endblock %}
</body>
</html>
