{% extends "base.html" %}
{% block title %}Console{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<table class="table" id="consoleTable">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block menu_selection %}Console{% endblock %}

{% block console_menu_item_class %}active{% endblock %}

{% block js %}
{{ super() }}


<script type="text/javascript" charset="utf-8">
    var socket = io('/ws');
    socket.on('connect', function () {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    let consoleNewLine = true;
    socket.on('console', function (data) {
        console.log('resp', data)
        let table = document.getElementById("consoleTable");
        //let row = table.insertRow(-1); // if we want at bottom
        if (consoleNewLine) {
            var row = table.insertRow(0);
            let cell1 = row.insertCell(0);
            let cell2 = row.insertCell(1);
            cell2.innerHTML = data['text'];
        } else {
            var row = table.rows[0];
            let existingHtml = row.cells[1].innerHTML
            let newHtml = `${existingHtml} ${data['text']}`
            console.log('newHtml', newHtml)
            row.cells[1].innerHTML = newHtml;
        }
        let time = new Date(data['time']);
        let dateLines = time.toISOString().split('T');
        row.cells[0].innerHTML = `${dateLines[0]}<br>${dateLines[1]}`
        consoleNewLine = data['text'].includes('\n');
        //window.scrollTo(0,document.body.scrollHeight);
    });

    function trigger() {
        socket.emit('my_event', {data: '!!!'})
    }
</script>

{% endblock %}
